@page "/"

<PageTitle>Index</PageTitle>

<ChatASG.Components.Auth.TemplateAuth />

<div style="padding-top:3%">
   
    <div class="wkC"  >
        
        <div  class="wk1">
    <MudText Align="Align.Center">
            <h1 >
                Model AI ASG 
                </h1>
       
        We provide models that help to aid in the creation of different attack sequences
        . You can deal with AGS models choosing the model you want ?.
                We provide models that help to aid in the creation of different attack sequences
                . You can deal with AGS models choosing the model you want ?.
            <MudChipSet MultiSelection="true" Style="padding:2%">
                <MudChip Text="grey" Variant="Variant.Text" Color="Color.Default">Default</MudChip>
                <MudChip Text="purple" Variant="Variant.Text" Color="Color.Primary">Primary</MudChip>
                <MudChip Text="pink" Variant="Variant.Text" Color="Color.Secondary">Secondary</MudChip>
                <MudChip Text="blue" Variant="Variant.Text" Color="Color.Info">Info</MudChip>
                <MudChip Text="green" Variant="Variant.Text" Color="Color.Success">Success</MudChip>
                <MudChip Text="orange" Variant="Variant.Text" Color="Color.Warning">Warning</MudChip>
                <MudChip Text="red" Variant="Variant.Text" Color="Color.Error">Error</MudChip>
                <MudChip Text="black" Variant="Variant.Text" Color="Color.Dark">Dark</MudChip>
            </MudChipSet>
    </MudText>
            <MudButton Href="/chatai"
          
           Rel="nofollow noopener"
           Variant="Variant.Outlined"
           EndIcon="@Icons.Custom.Brands.GitHub"
           Color="Color.Primary">
    Get  started
</MudButton>
        </div>
        <div class="wk2">
        <img src="css/icon.jpg" style="width:100%;height:200px;margin-top:2%"  />
        </div>
    </div>
    <div >
    <img src="css/Visual-Studio-for-Mac-Shape-1.svg"  style="width:100%;"/>
  
    
    </div>
    <MudGrid Class="mt-8" style="padding:6%">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Predction </MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <MudText Typo="Typo.h3">3</MudText>
                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">Models</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Technique prediction
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Incident prediction
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Group prediction
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Threat-based</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">

                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary">Generator Scenarios</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Unlimited something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            10 something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            No something
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25" Class="rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">State-based</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">

                        <MudText Typo="Typo.h5" Class="ml-1 mt-5" Color="Color.Secondary"> Generator Scenarios</MudText>
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            Unlimited something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            10 something
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.LiveHelp">
                            No something
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
    <img src="css/Visual-Studio-for-Mac-Shape-1.svg" style="width:100%" />
</div>
@code {
    public bool Dense { get; set; }
    public bool Clickable { get; set; }
    public bool Gutters { get; set; }
}